* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: '(Mukta)', sans-serif;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(50, 167, 145);
}

header img {
  height: 130px;
}

header h1 {
  display: flex;
  align-items: center;
  color: white;
}

.trybewarts-login {
  display: flex;
}

.trybewarts-login input {
  padding: 8px;
  border: 1px solid black;
  border-radius: 25px;
}

.trybewarts-login button {
  border-radius: 8px;
}

.trybewarts-login button:hover {
  cursor: pointer;
}

main {
  display: flex;
  background-color: beige;
  padding: 8px;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#evaluation-form main {
  display: flex;
}

#trybewarts-forms-logo {
  display: flex;
  height: 500px;
}

.inline {
  display: flex;
  flex-direction: row;
}

footer {
  background-color: rgb(105, 4, 12);
  color: white;
  text-align: center;
}
