.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  align-items: center;
  background-color: rgb(50, 167, 145);
  }
  
header img {
  height: 130px;
}
  
header h1 {
  display: flex;
  align-items: center;
} 

.trybewarts-login {
  display: flex;
}

main{
  display: flex;
  background-color: beige;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}
  
#evaluation-form main {
display: flex;
}
  
#trybewarts-forms-logo {
  display: flex; 
  height: 500px;
} 

.inline{
  display: flex;
  flex-direction: row;
}

footer{
  background-color: rgb(105, 4, 12);
  color: white;
}