* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(50, 167, 145);
}

header img {
  height: 80px;
}

header h1 {
  display: flex;
  align-items: center;
  color: white;
  font-family: Macondo, cursive;
}

.trybewarts-login {
  display: flex;
}

.trybewarts-login input {
  padding: 8px;
  border: 1px solid black;
  border-radius: 8px;
  margin: 2px;
}

.trybewarts-login button {
  width: 60px;
  border-radius: 8px;
}

.trybewarts-login button:hover {
  cursor: pointer;
}

main {
  display: flex;
  padding: 8px;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
  margin-left: 4px;
  font-family: sans-serif;
}

.inline input {
  height: 25px;
}

#evaluation-form input {
  border: 1px solid black;
  border-radius: 4px;
  margin: 0 3px 3px;
}

#evaluation-form main {
  display: flex;
}

#evaluation-form p {
  font-weight: 700;
}

#trybewarts-forms-logo {
  display: flex;
  height: 500px;
}

#container-rate label {
  margin: 3px;
}

#submit-btn {
  margin-top: 10px;
  height: 25px;
}

.inline {
  display: flex;
  flex-direction: row;
}

#counter {
  display: flex;
  justify-content: flex-end;
  margin-top: 6px;
  margin-right: 6px;
  color: rgb(56, 54, 54);
  font-size: 15px;
}

footer {
  background-color: rgb(27, 105, 91);
  color: white;
  font-size: 18px;
  text-align: center;
  font-family: Macondo, cursive;
}
